In [4]:
#Connecting to the server
import sqlite3

connection = sqlite3.connect('WeatherDatabase.db')
cursor = connection.cursor()

In [5]:
#Creating the table

query = '''
    CREATE TABLE Weather_Tbl (
        id INTEGER PRIMARY KEY,
        recordDate DATE,
        temperature INTEGER
    )
'''

cursor.execute(query)

In [6]:
#Inserting data into the table
query = '''
    INSERT INTO Weather_Tbl (id, recordDate, temperature)
    VALUES (?, ?, ?)
'''

rows = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]

cursor.executemany(query, rows)

connection.commit()
connection.close()

In [11]:
#Displaying the table
connection = sqlite3.connect('WeatherDatabase.db')
cursor = connection.cursor()

query = "SELECT * FROM Weather_Tbl"

cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

connection.close()

(1, '2015-01-01', 10)
(2, '2015-01-02', 25)
(3, '2015-01-03', 20)
(4, '2015-01-04', 30)

In [16]:
#Finding all dates' Id with higher temperatures compared to its previous dates (yesterday).

connection = sqlite3.connect('WeatherDatabase.db')
cursor = connection.cursor()

query = '''
    SELECT w.id
    FROM Weather_Tbl w
    WHERE w.temperature > (
        SELECT temperature
        FROM Weather
        WHERE recordDate = date(w.recordDate, '-1 day')
    )
'''

cursor.execute(query)

rows = cursor.fetchall()
print("id")
print("----")
for row in rows:
    print(row[0])

connection.close()

id
----
2
4